[Unit]
Description=Systemd service to run pipeline.

[Service]
Type=simple
ExecStart=/bin/bash /etc/pipeline/startup.sh /var/lib/cloud/instance/user-data.txt

[Install]
WantedBy=multi-user.target