- name: Pipeline tasks
  hosts: all
  become: true

  tasks:
  - name: Create directory /etc/pipeline
    file:
      path: /etc/pipeline
      state: directory

  - name: Download cisco bigmuddy pipeline binary
    get_url:
      url: https://nobun.blob.core.windows.net/pipeline/pipeline?sp=r&st=2019-04-23T17:39:32Z&se=2020-01-01T08:00:00Z&spr=https&sv=2018-03-28&sig=JwlKMzAxu85iLrCTcMoA5JN0gAFOCuWUFc4LWn%2FDArs%3D&sr=b
      dest: /etc/pipeline/pipeline
      mode: 0755

  - name: Download cisco bigmuddy pipeline config file
    get_url:
      url: https://nobun.blob.core.windows.net/pipeline/pipeline.conf?sp=r&st=2019-04-23T20:52:28Z&se=2020-01-01T08:00:00Z&spr=https&sv=2018-03-28&sig=WQYrU%2FeUJFEOQvOV9cCF9umWeuGb2bIwYNGuEiIIBFs%3D&sr=b
      dest: /etc/pipeline/pipeline.conf

  - name: Import the Microsoft repository key.
    command: rpm --import https://packages.microsoft.com/keys/microsoft.asc

  - name: Create local azure-cli repository information.
    command: sh -c 'echo -e "[azure-cli]\nname=Azure CLI\nbaseurl=https://packages.microsoft.com/yumrepos/azure-cli\nenabled=1\ngpgcheck=1\ngpgkey=https://packages.microsoft.com/keys/microsoft.asc" > /etc/yum.repos.d/azure-cli.repo'

  - name: Install azure cli
    yum:
      name: azure-cli
      state: present

  - name: Create self-signed certificate
    command: openssl req -new -newkey rsa:4096 -nodes -keyout /etc/pipeline/pipeline_vm.key -out /etc/pipeline/pipeline_vm.csr  -subj "/C=XX/ST=X/L=X/O=X/CN=X"

  - name: Copy startup.sh
    copy:
      src: ./startup.sh
      dest: /etc/pipeline/startup.sh
  
  - name: Copy pipeline.service
    copy:
      src: ./pipeline.service
      dest: /lib/systemd/system/pipeline.service

  - name: Start pipeline service
    systemd:
      name: pipeline
      enabled: true
      


 